/Dailygrains.xlsx
/Grainpr.xlsx
/model_thesis.ipynb
/creds.py
/main1.py
/.idea
/BarchartFutures/Combined data/
/BarchartFutures/Combined data/combined_Dec.csv
/BarchartFutures/Combined data/combined_July.csv
/BarchartFutures/Combined data/combined_Mar.csv
/BarchartFutures/Combined data/combined_May.csv
/BarchartFutures/Combined data/combined_Sept.csv
/BarchartFutures/Dec/
/BarchartFutures/July/
/BarchartFutures/Mar/
/BarchartFutures/May/
/BarchartFutures/Sept/
